$primaryColor: rgb(42, 171, 226);
$primaryFont: 'Sacramento', cursive;
$secondaryFont: 'Fredericka the Great', cursive;

html {
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

body{
  height: 100%;
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

*, *:before, *:after {
  box-sizing: inherit;
}

[transition-out-multiple]:hover{
  cursor: pointer;
}

.circle{
  border-radius: 50%;
}

.bgVid{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -50;
    transform: translateX(-50%) translateY(-50%);
    transition: 2s opacity;
}

.fadeUpDown{
  opacity: 0;
}

.fadeIn{
  opacity: 0;
}

.animationBoxBlue{
  position: absolute;
  top: 0;
  height: 110%;
  width: 200%;
  background: $primaryColor;
  left: -50%;
}

.animationBoxWhite{
  position: absolute;
  top: 0;
  height: 110%;
  width: 200%;
  background: white;
  left: -50%;
}

.appear{
  overflow: hidden;
  width: 0px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.transitionWhite{
  background: white;
  height: 100vh;
  width: 150%;
  position: fixed;
  left: -25%;
  top: 0;
  z-index: 50;
}

.transitionBlue{
  background: rgb(42, 171, 226);
  height: 100vh;
  width: 150%;
  position: fixed;
  left: -25%;
  top: 0;
  z-index: 25;
}

.animationCircle{
  position: absolute;
  top: -71%;
  left: -71%;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  background: white;
  z-index: -10;
}

.loadingContainer{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .loadingAnimationContainer{
    opacity: 1;
    height: 150px;
    width: 150px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    .loadingAnimationContainer2{
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: -25;
    }

    .one{
      height: 70px;
      width: 70px;
      position: absolute;
      left: -15px;
      bottom: 10px;
      background: $primaryColor;
    }

    .two{
      height: 20px;
      width: 20px;
      background: $primaryColor;
    }

    .three{
      height: 70px;
      width: 70px;
      position: absolute;
      background: $primaryColor;
      bottom: 10px;
      right: -15px;
    }

    .four{
      height: 70px;
      width: 70px;
      position: absolute;
      background: $primaryColor;
      top: -20px;
      right: 40px;
    }

    .five{
      height: 20px;
      width: 20px;
      bottom: 10px;
      left: -45px;
      position: absolute;
      background: $primaryColor;
    }

    .six{
      height: 20px;
      width: 20px;
      bottom: 10px;
      right: -45px;
      position: absolute;
      background: $primaryColor;
    }

    .seven{
      height: 20px;
      width: 20px;
      position: absolute;
      right: 65px;
      top: -55px;
      background: $primaryColor;
    }
  }
}

.homeContainer{
  z-index: 0;
  font-family: 'Muli', sans-serif;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: transparent;
  color: white;

  .homeTitle{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 470px;
    height: 300px;
    letter-spacing: 1px;
    margin-top: 50px;
    h1{
      font-family: $primaryFont;
      font-size: 100px;
      padding-top: 10px;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    h6{
      font-family: $secondaryFont;
      font-size: 20px;
      color: white;
    }
  }

  .homeCircleContainer{
    width: 440px;
    margin-right: 100px;
    letter-spacing: 1px;
    position: relative;
    .homeBigCircle{
      display: flex;
      flex-direction: column;
      position: relative;
      align-items: center;
      color: white;
      justify-content: center;
      text-align: center;
      background: transparent;
      width: 300px;
      height: 300px;
      border-radius: 50%;
      border: 3px solid $primaryColor;
      overflow: hidden;
      h3{
        font-family: $secondaryFont;
        font-size: 18px;
      }
      h2{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        margin-top: 10px;
        font-family: $primaryFont;
        font-size: 40px;
        color: $primaryColor;
      }
    }
    .homeBigCircleDouble{
      position: absolute;
      background: transparent;
      width: 300px;
      height: 300px;
      border-radius: 50%;
      border: 3px solid $primaryColor;
      top: 94px;
      left: -6px;
      transition: 0.50s;
    }

    .homeSmallCircle{
      color: white;
      font-family: $secondaryFont;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      background: transparent;
      margin-left: 275px;
      margin-bottom: -50px;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 3px solid $primaryColor;
      overflow: hidden;
    }
    .homeSmallCircleDouble{
      position: absolute;
      background: transparent;
      top: -6px;
      left: 269px;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 3px solid $primaryColor;
      transition: 0.50s;
    }
  }
}

.applicationContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  .devMountainTimelineContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(42, 171, 226);
    padding: 20px;
    h3{
      color: white;
      font-size: 36px;
      margin: 20px;
    }
    .devMountainTimeline{
      width: 60%;
      background: rgb(42, 171, 226);
    }
  }
  .applicationTitle{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 34px;
    font-weight: bold;
    color: $primaryColor;
    background-color: rgba(0,0,0,0.05);
    font-family: Lucida Grande;
  }
  .courseContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .course{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30%;
      border-radius: 1em;
      background-color: rgba(0,0,0,0.05);
      margin: 10px 0px 20px 0px;
      h1{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 30px;
        margin: 10px;
        background: $primaryColor;
        color: white;
        border-radius: 2em;
        font-size: 16px;
        font-weight: bold;
        font-family: Lucida Grande;
      }
      img{
        width: 250px;
        height: 250px;
        border-radius: 50%;
      }
      .courseInfo{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 90%;
        margin: 10px;
        p{
          display: flex;
          align-items: center;
          justify-content: center;
          height: 30px;
          width: 45%;
          background: $primaryColor;
          color: white;
          border-radius: 2em;
          padding: 5px 10px;
          margin: 3px;
        }
      }
      button{
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: 45%;
        background: #88CE02;
        color: white;
        border-radius: 2em;
        padding: 5px 10px;
        margin: 3px 0px 10px 0px;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 1px;
        font-family: Lucida Grande;
      }
    }
  }
}

.choiceContainer{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  .choiceText{
    width: 100%;
    padding: 20px 50px;
    background-color: rgba(0,0,0,0.50);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1{
      font-family: $primaryFont;
      color: $primaryColor;
      font-size: 40px;
      height: 40px;
      overflow: hidden;
      padding-top: 10px;
      font-weight: bold;
      margin-bottom: 5px;
    }
    h2{
      font-family: $secondaryFont;
      color: white;
      font-size: 16px;
    }
  }
  .dallasChoice{
    position: relative;
    height: 100%;
    width: 33%;
    overflow: hidden;
    .dallasChoiceContent{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      background-image: url("http://media.istockphoto.com/photos/the-reunion-tower-in-dallas-texas-usa-picture-id637394360?k=6&m=637394360&s=612x612&w=0&h=DgvMkZHKmRjFYlA5WgxGkn7nlFTntsWxM5CC8IniN-A=");
      background-size: cover;
      background-position: center;
    }
  }
  .provoChoice{
    position: relative;
    height: 100%;
    width: 33%;
    overflow: hidden;
    .provoChoiceContent{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      background-image: url("https://s-media-cache-ak0.pinimg.com/736x/98/b3/31/98b331a6197902e3f8c3058433f6f3a2.jpg");
      background-size: cover;
      background-position: center;
    }
  }
  .slcChoice{
    position: relative;
    height: 100%;
    width: 33%;
    overflow: hidden;
    .slcChoiceContent{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      background-image: url("https://s-media-cache-ak0.pinimg.com/736x/fc/fa/5a/fcfa5ac1267d8ef0302b776e28683362.jpg");
      background-size: cover;
      background-position: center;
    }
  }
}

.courseSurveyContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1{
    font-size: 24px;
    font-weight: bold;
    font-family: Lucida Grande;
    margin: 30px 0px 10px 0px;
  }
  .course{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    border-radius: 1em;
    background-color: rgba(0,0,0,0.05);
    margin: 10px 0px 20px 0px;
    h1{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90%;
      height: 30px;
      margin: 10px;
      background: $primaryColor;
      color: white;
      border-radius: 2em;
      font-size: 16px;
      font-weight: bold;
      font-family: Lucida Grande;
    }
    img{
      width: 250px;
      height: 250px;
      border-radius: 50%;
    }
    .courseInfo{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 90%;
      margin: 10px;
      p{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: 45%;
        background: $primaryColor;
        color: white;
        border-radius: 2em;
        padding: 5px 10px;
        margin: 3px;
      }
    }
  }
  button{
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 300px;
    background: red;
    color: white;
    border-radius: 2em;
    padding: 5px 10px;
    margin: 3px 0px 10px 0px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: Lucida Grande;
  }
  .submit{
    background: #88ce02;
    margin: 20px;
  }
  .survey{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .question{
      background-color: rgba(0,0,0,0.05);
      width: 60%;
      margin: 10px 0px 10px 0px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 0.5em;
      textarea{
        width: 500px;
        height: 100px;
        margin: 10px;
      }
      .radioOption{
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .submitContainer{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.welcomeToProvoContainer{
  position: fixed;
  display: flex;
  top: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-image: url("https://seekraz.files.wordpress.com/2013/04/cedar-fort-farmland-under-wasatch-mountains-with-snow.jpg");
  background-position: center;
  background-size: cover;
  .provoTitle{
    position: absolute;
    top: 50%;
    transform: translate(0 -50%);
    width: 60%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
      justify-content: center;
      color: $primaryColor;
      font-size: 80px;
      font-family: $primaryFont;
      margin: 10px 0px;
      height: 80px;
    }
    h2{
      font-family: $secondaryFont;
      font-size: 20px;
      color: white;
    }
    h3{
      margin-top: 10px;
      font-family: $primaryFont;
      font-size: 30px;
      color: $primaryColor;
    }
    h4{
      font-family: $secondaryFont;
      font-size: 14px;
      color: white
    }
  }
  .welcomeToProvoStats{
    width: 40%;
    background: rgba(0,0,0,0.25);
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    p{
      position: relative;
      font-family: $secondaryFont;
      border: 3px solid $primaryColor;
      height: 100px;
      width: 280px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(0,0,0,0.25);
      color: white;
    }
    p:after{
      content: " ";
      position: absolute;
      top: -8px;
      left: -8px;
      right: 2px;
      bottom: 2px;
      border: 3px solid $primaryColor;
    }
  }
}

.provoHousingContainer{
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  overflow: hidden;
  .housingTopHalf{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 60%;
    .housingVideo{
      height: 100%;
      width: 50%;
      overflow: hidden;
      position: relative;
      video{
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -50;
        transform: translateX(-50%) translateY(-50%);
        transition: 2s opacity;
      }
    }
    .housingTitle{
      width: 50%;
      height: 100%;
      position: relative;
      overflow: hidden;
      background: rgba(0,0,0,0.50);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h1{
        font-size: 80px;
        font-family: $primaryFont;
        color: $primaryColor;
        margin-top: 10px;
        height: 120px;
      }
      h2{
        font-size: 32px;
        font-family: $secondaryFont;
        color: white;
      }
    }
  }
  .housingBottomHalf{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .housingImage{
      overflow: hidden;
      position: relative;
      height: 200px;
      width: 200px;
      border-radius: 50%;
      img{
        border-radius: 50%;
        border: 1px solid white;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.learnContainer{
  height: 100vh;
  width: 100%;
  background: gray;
  position: relative;
  top: 0;
  overflow: hidden;
  .learnSlides{
    background: gray;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    top: 0px;
    left: 0px;
    text-align: center;
    h1{
      color: $primaryColor;
      font-size: 60px;
      font-family: $primaryFont;
      margin: 10px;
    }
    h2{
      color: white;
      font-size: 15px;
      font-family: $secondaryFont;
    }
  }
  .slideSection{
    width: 32%;
    height: 31%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img{
      height: 100%;
      width: 100%;
    }
  }
  .infoSlideSection{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px;
    font-size: 18px;
    color: white;
    font-family: $secondaryFont;
    background: rgba(0,0,0,0.25);
  }
  .infoSlideSection:before {
    content: " ";
    position: absolute;
    top: -4px;
    left: -4px;
    right: 1px;
    bottom: 1px;
    border: 3px solid $primaryColor;
  }
  .infoSlideSection:after {
    content: " ";
    position: absolute;
    top: 1px;
    left: 1px;
    right: -4px;
    bottom: -4px;
    border: 3px solid $primaryColor;
  }
  .nextSlide{
    height: 100%;
    width: 50%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
  }
  .prevSlide{
    height: 100%;
    width: 50%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .nextSlide:hover{
    cursor: pointer;
    cursor: url('http://atitheatre.ae/wp-content/plugins/flipbook/images/icons/arrow_double_right.png'), auto;
  }
  .prevSlide:hover{
    cursor: pointer;
    cursor: url('http://atitheatre.ae/wp-content/plugins/flipbook/images/icons/arrow_double_left.png'), auto;
  }
}

.jobSearchContainer{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  color: white;
  overflow: hidden;
  background: rgba(0,0,0,0.80);
  .bubble{
    opacity: 0;
    position: fixed;
    overflow: hidden;
    border-radius: 50%;
    background: $primaryColor;
  }
  .bubble:nth-of-type(1){
    height: 8px;
    width: 8px;
    bottom: 0.5%;
    left: 50%;
  }
  .bubble:nth-of-type(2){
    height: 14px;
    width: 14px;
    bottom: 2%;
    left: 49%;
  }
  .bubble:nth-of-type(3){
    height: 20px;
    width: 20px;
    bottom: 5%;
    left: 51%;
  }
  .salaryBubble{
    left: 45%;
    bottom: 5%;
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      width: 50px;
      height: 50px;
    }
  }
  .bubble:nth-of-type(5){
    height: 28px;
    width: 28px;
    bottom: 14%;
    left: 52%;
  }
  .bubble:nth-of-type(6){
    height: 36px;
    width: 36px;
    bottom: 22%;
    left: 44%;
  }
  .hireRateBubble{
    font-size: 20px;
    right: 40%;
    bottom: 20%;
    position: fixed;
    overflow: hidden;
    height: 120px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      height: 50px;
      width: 50px;
    }
  }
  .bubble:nth-of-type(8){
    height: 45px;
    width: 45px;
    bottom: 41%;
    left: 53%;
  }
  .timeBubble{
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 35%;
    bottom: 30%;
    position: fixed;
    overflow: hidden;
    height: 160px;
    width: 160px;
    img{
      width: 100px;
      height: 100px;
    }
  }
  .bubble:nth-of-type(10){
    height: 50px;
    width: 50px;
    bottom: 55%;
    left: 43%;
  }
  .bubble:nth-of-type(11){
    height: 60px;
    width: 60px;
    bottom: 60%;
    left: 35%;
  }
  .jobFairBubble{
    font-size: 34px;
    bottom: 50%;
    right: 35%;
    position: fixed;
    overflow: hidden;
    height: 220px;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      margin-top: 20px;
      margin-left: 5px;
      height: 130px;
      width: 130px;
    }
  }
  .titleBubble{
    position: fixed;
    overflow: hidden;
    height: 300px;
    width: 300px;
    top: 0;
    left: 25%;
    display: flex;
    transform: translate(0, -45%);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 5px solid white;
    h1{
      width: 100%;
      font-size: 60px;
      font-family: $primaryFont;
      position: absolute;
      bottom: 25%;
      left: 50%;
      transform: translate(-40%);
    }
  }
  .bubble:nth-of-type(14){
    height: 65px;
    width: 65px;
    bottom: 86%;
    left: 58%;
  }
  .bubble:nth-of-type(15){
    height: 15px;
    width: 15px;
    bottom: 86%;
    left: 65%;
  }
  .bubble:nth-of-type(16){
    height: 30px;
    width: 30px;
    bottom: 90%;
    left: 69%;
  }
  .info{
    opacity: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid $primaryColor;
    color: white;
    padding: 12px 20px 20px 20px;
    font-family: $secondaryFont;
    font-size: 16px;
    text-align: center;
    width: 325px;
  }
  .info:after{
    content: " ";
    position: absolute;
    top: -8px;
    left: -8px;
    right: 2px;
    bottom: 2px;
    border: 3px solid $primaryColor;
  }
  .salaryInfo{
    bottom: 6%;
    left: 3%;
  }
  .hireRateInfo{
    bottom: 22%;
    right: 3%;
  }
  .timeInfo{
    bottom: 35%;
    left: 3%;
  }
  .jobFairInfo{
    bottom: 59%;
    right: 3%;
  }
  .line{
    opacity: 0;
    border-top: 3px solid $primaryColor;
    border-bottom: 3px solid $primaryColor;
    position: fixed;
    padding-top: 3px;
    background: transparent;
  }
  .connectingLine1{
    bottom: 10%;
    left: 28.5%;
    width: 210px;
  }
  .connectingLine2{
    bottom: 28.5%;
    right: 28.5%;
    width: 145px;
  }
  .connectingLine3{
    bottom: 41%;
    left: 28.5%;
    width: 81px;
  }
  .connectingLine4{
    bottom: 65.5%;
    right: 28.5%;
    width: 81px;
  }
}

.applyContainer{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img{
    width: 600px;
  }
  .experienceApplyButtonContainer{
    position: relative;
    margin-top: 100px;
    .experienceApplyButton{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      height: 250px;
      width: 250px;
      border: 3px solid $primaryColor;
      overflow: hidden;
      h1{
        color: white;
        font-family: $primaryFont;
        font-weight: 700;
        font-size: 50px;
        padding-top: 15px;
        height: 80px;
      }
    }
    .experienceApplyButtonDouble{
      position: absolute;
      border-radius: 50%;
      height: 250px;
      width: 250px;
      border: 3px solid $primaryColor;
      top: -6px;
      left: -6px;
      transition: 0.50s;
    }
  }
}

.upDown{
  display: flex;
  position: fixed;
  background: rgba(0,0,0,0.50);
  right: 20px;
  bottom: 0;
  width: 50px;
  height: 30px;
  z-index: 500;
  .arrowContainer{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    .arrow{
      display: flex;
      align-items: center;
      justify-content: center;
      border: solid white;
      border-width: 0 1px 1px 0;
      display: inline-block;
      padding: 5px;
    }

    .upIcon{
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
    }

    .downIcon{
      margin-bottom: 12px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
  }
}
