
$primaryColor: rgb(42, 171, 226);
$primaryFont: 'Sacramento', cursive;
$secondaryFont: 'Fredericka the Great', cursive;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.loadingContainer{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loadingAnimationContainer{
  opacity: 0;
  height: 150px;
  width: 150px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  .loadingAnimationContainer2{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -25;
  }

  .circle{
    border-radius: 50%;
  }

  .one{
    height: 70px;
    width: 70px;
    position: absolute;
    left: -15px;
    bottom: 10px;
    background: $primaryColor;
  }

  .two{
    height: 20px;
    width: 20px;
    background: $primaryColor;
  }

  .three{
    height: 70px;
    width: 70px;
    position: absolute;
    background: $primaryColor;
    bottom: 10px;
    right: -15px;
  }

  .four{
    height: 70px;
    width: 70px;
    position: absolute;
    background: $primaryColor;
    top: -20px;
    right: 40px;
  }

  .five{
    height: 20px;
    width: 20px;
    bottom: 10px;
    left: -45px;
    position: absolute;
    background: $primaryColor;
  }

  .six{
    height: 20px;
    width: 20px;
    bottom: 10px;
    right: -45px;
    position: absolute;
    background: $primaryColor;
  }

  .seven{
    height: 20px;
    width: 20px;
    position: absolute;
    right: 65px;
    top: -50px;
    background: $primaryColor;
  }
}


#homeBgVid{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -50;
    transform: translateX(-50%) translateY(-50%);
    transition: 2s opacity;
}

.transitionWhite{
  background: white;
  height: 100vh;
  width: 150%;
  position: fixed;
  left: -25%;
  top: 0;
  z-index: 50;
}

.transitionBlue{
  background: rgb(42, 171, 226);
  height: 100vh;
  width: 150%;
  position: fixed;
  left: -25%;
  top: 0;
  z-index: 25;
}

.homeContainer{
  z-index: 0;
  font-family: 'Muli', sans-serif;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: transparent;
  color: white;

  .homeTitle{
    text-align: center;
    width: 500px;
    height: 200px;
    letter-spacing: 1px;

    h1{
      font-size: 50px;
      margin-bottom: 20px;
    }
  }

  .homeCircleContainer{
    width: 440px;
    margin-right: 100px;
    letter-spacing: 1px;
    .homeBigCircle{
      display: flex;
      position: relative;
      align-items: center;
      color: white;
      font-family: $secondaryFont;
      justify-content: center;
      text-align: center;
      background: transparent;
      width: 300px;
      height: 300px;
      border-radius: 50%;
      border: 3px solid $primaryColor;
    }
    .homeBigCircle:before {
      content: " ";
      position: absolute;
      border-radius: 50%;
      z-index: -1;
      top: -8px;
      left: -8px;
      right: 2px;
      bottom: 2px;
      border: 3px solid $primaryColor;
    }
    .homeSmallCircle{
      color: white;
      font-family: $secondaryFont;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      background: transparent;
      margin-left: 275px;
      margin-bottom: -50px;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 3px solid $primaryColor;
    }
    .homeSmallCircle:before {
      content: " ";
      position: absolute;
      border-radius: 50%;
      z-index: -1;
      top: -8px;
      left: -8px;
      right: 2px;
      bottom: 2px;
      border: 3px solid $primaryColor;
    }
  }
}

.applicationContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  .devMountainTimelineContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(42, 171, 226);
    padding: 20px;
    h3{
      color: white;
      font-size: 36px;
      margin: 20px;
    }
    .devMountainTimeline{
      width: 60%;
      background: rgb(42, 171, 226);
    }
  }
  .applicationTitle{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 34px;
    font-weight: bold;
    color: $primaryColor;
    background-color: rgba(0,0,0,0.05);
    font-family: Lucida Grande;
  }
  .courseContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .course{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30%;
      border-radius: 1em;
      background-color: rgba(0,0,0,0.05);
      margin: 10px 0px 20px 0px;
      h1{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 30px;
        margin: 10px;
        background: $primaryColor;
        color: white;
        border-radius: 2em;
        font-size: 16px;
        font-weight: bold;
        font-family: Lucida Grande;
      }
      img{
        width: 250px;
        height: 250px;
        border-radius: 50%;
      }
      .courseInfo{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 90%;
        margin: 10px;
        p{
          display: flex;
          align-items: center;
          justify-content: center;
          height: 30px;
          width: 45%;
          background: $primaryColor;
          color: white;
          border-radius: 2em;
          padding: 5px 10px;
          margin: 3px;
        }
      }
      button{
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: 45%;
        background: #88CE02;
        color: white;
        border-radius: 2em;
        padding: 5px 10px;
        margin: 3px 0px 10px 0px;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 1px;
        font-family: Lucida Grande;
      }
    }
  }
}

.choiceContainer{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  color: $primaryColor;
  font-size: 40px;
  font-weight: bold;
  p{
    width: 100%;
    padding: 20px 50px;
    background-color: rgba(0,0,0,0.50);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dallasChoice{
    position: relative;
    height: 100%;
    width: 33%;
    overflow: hidden;
    .dallasChoiceContent{
      font-family: $primaryFont;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      background-image: url("http://media.istockphoto.com/photos/the-reunion-tower-in-dallas-texas-usa-picture-id637394360?k=6&m=637394360&s=612x612&w=0&h=DgvMkZHKmRjFYlA5WgxGkn7nlFTntsWxM5CC8IniN-A=");
      background-size: cover;
      background-position: center;
    }
  }
  .provoChoice{
    position: relative;
    height: 100%;
    width: 33%;
    overflow: hidden;
    .provoChoiceContent{
      font-family: $primaryFont;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      background-image: url("https://s-media-cache-ak0.pinimg.com/736x/98/b3/31/98b331a6197902e3f8c3058433f6f3a2.jpg");
      background-size: cover;
      background-position: center;
    }
  }
  .slcChoice{
    position: relative;
    height: 100%;
    width: 33%;
    overflow: hidden;
    .slcChoiceContent{
      font-family: $primaryFont;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      background-image: url("https://s-media-cache-ak0.pinimg.com/736x/fc/fa/5a/fcfa5ac1267d8ef0302b776e28683362.jpg");
      background-size: cover;
      background-position: center;
    }
  }
}
.animationBoxBlue{
  position: absolute;
  top: 0;
  height: 100%;
  width: 200%;
  background: $primaryColor;
  left: -25%;
}
.animationBoxWhite{
  position: absolute;
  top: 0;
  height: 100%;
  width: 200%;
  background: white;
  left: -25%;
}

.courseSurveyContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1{
    font-size: 24px;
    font-weight: bold;
    font-family: Lucida Grande;
    margin: 30px 0px 10px 0px;
  }
  .course{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    border-radius: 1em;
    background-color: rgba(0,0,0,0.05);
    margin: 10px 0px 20px 0px;
    h1{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90%;
      height: 30px;
      margin: 10px;
      background: $primaryColor;
      color: white;
      border-radius: 2em;
      font-size: 16px;
      font-weight: bold;
      font-family: Lucida Grande;
    }
    img{
      width: 250px;
      height: 250px;
      border-radius: 50%;
    }
    .courseInfo{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 90%;
      margin: 10px;
      p{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: 45%;
        background: $primaryColor;
        color: white;
        border-radius: 2em;
        padding: 5px 10px;
        margin: 3px;
      }
    }
  }
  button{
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 300px;
    background: red;
    color: white;
    border-radius: 2em;
    padding: 5px 10px;
    margin: 3px 0px 10px 0px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: Lucida Grande;
  }
  .submit{
    background: #88ce02;
    margin: 20px;
  }
  .survey{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .question{
      background-color: rgba(0,0,0,0.05);
      width: 60%;
      margin: 10px 0px 10px 0px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 0.5em;
      textarea{
        width: 500px;
        height: 100px;
        margin: 10px;
      }
      .radioOption{
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .submitContainer{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.welcomeToProvoContainer{
  position: fixed;
  display: flex;
  top: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-image: url("https://seekraz.files.wordpress.com/2013/04/cedar-fort-farmland-under-wasatch-mountains-with-snow.jpg");
  background-position: center;
  background-size: cover;
  .provoTitle{
    position: absolute;
    top: 50%;
    transform: translate(0 -50%);
    width: 60%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
      justify-content: center;
      color: $primaryColor;
      font-size: 80px;
      font-family: $primaryFont;
      margin-top: 10px;
    }
    h2{
      font-family: $secondaryFont;
      font-size: 20px;
      color: white;
    }
  }
  .welcomeToProvoStats{
    width: 40%;
    background: rgba(0,0,0,0.25);
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    p{
      position: relative;
      font-family: $secondaryFont;
      border: 3px solid $primaryColor;
      height: 100px;
      width: 280px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(0,0,0,0.25);
      color: white;
    }
    p:after{
      content: " ";
      position: absolute;
      top: -8px;
      left: -8px;
      right: 2px;
      bottom: 2px;
      border: 3px solid $primaryColor;
    }
  }
}

.provoHousingContainer{
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  overflow: hidden;
  .housingTopHalf{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 60%;
    video{
      height: 100%;
      width: 50%;
    }
    .housingTitle{
      width: 50%;
      height: 95%;
      margin: 10px 0px;
      background: rgba(0,0,0,0.50);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h1{
        font-size: 80px;
        font-family: $primaryFont;
        color: $primaryColor;
        margin-top: 10px;
      }
      h2{
        font-size: 32px;
        font-family: $secondaryFont;
        color: white;
      }
    }
  }
  .housingBottomHalf{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    img{
      height: 200px;
      width: 200px;
      border-radius: 50%;
    }
  }
}

.upDown{
  display: flex;
  position: fixed;
  right: 20px;
  bottom: 0;
  width: 50px;
  height: 30px;
}
.arrowContainer{
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow{
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid white;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 5px;
}

.upIcon{
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.downIcon{
  margin-bottom: 12px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
