<div class="transitionWhite"></div>
<div class="transitionBlue"></div>

<div id="top" transition-in class="courseSurveyContainer">
  <h1>Applying For:</h1>
  <div class="course">
    <h1>{{course.location}}</h1>
    <img src="{{course.image}}" alt="DevMountain Location">
    <div class="courseInfo">
      <p>{{course.type}}</p>
      <p>{{course.immersiveorafterhours}}</p>
      <p>{{course.datestart}} - {{course.dateend}}</p>
      <p>${{course.price}}</p>
    </div>
  </div>
  <button transition-out ng-click="switchApply()">Choose a different course?</button>
  <form class="survey">
    <div class="question">
      <h2>Why do you wan to participate in this DevMountain cohort?</h2>
      <h4>(Be as wordy as you need to)</h4>
      <textarea ng-model="survey.why" type="text" required></textarea>
    </div>
    <div class="question">
      <h2>How did you hear about this cohort?</h2>
      <textarea ng-model="survey.how" type="text" required></textarea>
    </div>
    <div class="question">
      <h2>Are you requesting housing?</h2>
      <h4>(Immersive programs only)</h4>
      <div class="radioOption">
        <input ng-model="survey.housing" type="radio" name="housing" value="true" required>
        <p>Yes</p>
      </div>
      <div class="radioOption">
        <input ng-model="survey.housing" type="radio" name="housing" value="false" required>
        <p>No</p>
      </div>
    </div>
    <div class="question">
      <h2>Are you requesting financing?</h2>
      <div class="radioOption">
        <input ng-model="survey.financing" type="radio" name="financing" value="true" required>
        <p>Yes</p>
      </div>
      <div class="radioOption">
        <input ng-model="survey.financing" type="radio" name="financing" value="false" required>
        <p>No</p>
      </div>
    </div>
    <div class="submitContainer">
      <h1>Submit Your Application</h1>
      <p>By submitting this application, you verify that you have read and are agreeing to DevMountain's Application and Enrollment Agreement.</p>
      <button transition-out class="submit" ng-click="submitApplication()" ui-sref="application">Submit Application</button>
    </div>
  </form>
</div>
