<video class="bgVid" playsinline autoplay muted loop>
  <source src="http://thenewcode.com/assets/videos/polina.mp4" type="video/mp4">
</video>

<div scroll-down text-animation transition-in-multiple circle-hover class="homeContainer container">
  <div class="homeTitle">
      <h1 class="appear">Dev <br> Mountain</h1>
      <h6 class="fadeUpDown">Programming Bootcamp</h6>
  </div>
  <div class="homeCircleContainer">
    <div class="homeSmallCircleDouble"></div>
    <div ng-click="switchApply()" transition-out-multiple class="homeSmallCircle mainCircle">
      <h3 class="fadeIn" >Apply Now!</h3>
      <div class="animationCircle"></div>
    </div>
    <div class="homeBigCircleDouble"></div>
    <div ng-click="switchDown()" transition-out-multiple class="homeBigCircle mainCircle">
      <h3 class="fadeIn">See The</h3>
      <h2 class="appear">DevMountain</h2>
      <h3 class="fadeIn">Experience!</h3>
      <div class="animationCircle"></div>
    </div>
  </div>
  <div class="animationBoxBlue"></div>
  <div class="animationBoxWhite"></div>
</div>
<div class="upDown">
  <div class="arrowContainer">
    <i class="arrow upIcon"></i>
  </div>
  <div ng-click="switchDown()" transition-out-multiple class="arrowContainer">
    <i class="arrow downIcon"></i>
  </div>
</div>
