<video class="bgVid" playsinline autoplay muted loop>
  <source src="http://thenewcode.com/assets/videos/polina.mp4" type="video/mp4">
</video>

<div scroll-down transition-in-multiple class="homeContainer container">
  <div class="homeTitle">
      <h1>Dev <br> Mountain</h1>
      <h6>Programming Bootcamp</h6>
  </div>
  <div class="homeCircleContainer">
    <div ng-click="switchApply()" transition-out-multiple class="homeSmallCircle">
      <h3>Apply Now!</h3>
    </div>
    <div ng-click="switchDown()" transition-out-multiple class="homeBigCircle">
      <h3>See The</h3>
      <h2>DevMountain</h2>
      <h3>Experience!</h3>
    </div>
  </div>
  <div class="animationBoxBlue"></div>
  <div class="animationBoxWhite"></div>
</div>
<div class="upDown">
  <div class="arrowContainer">
    <i class="arrow upIcon"></i>
  </div>
  <div ng-click="switchDown()" transition-out-multiple class="arrowContainer">
    <i class="arrow downIcon"></i>
  </div>
</div>
