<div transition-in-multiple scroll-up scroll-down bubble-animation class="jobSearchContainer container">
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="salaryBubble bubble">
    <p>PAY</p>
  </div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="hireRateBubble bubble">
    <p>RATE</p>
  </div>
  <div class="bubble"></div>
  <div class="timeBubble bubble">
    <p>TIME</p>
  </div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="jobFairBubble bubble">
    <p>FAIR</p>
  </div>
  <div class="titleBubble bubble">
    <h1>Job Search</h1>
  </div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="salaryInfo info">
    <p>The average salary of a DevMountain graduate is around $??,???.</p>
  </div>
  <div class="hireRateInfo info">
    <p>The hire rate for a DevMountain graduate is ??% in 3 months and ??% in 6 months.</p>
  </div>
  <div class="timeInfo info">
    <p>The average time before a DevMountain graduate to get a job is ?? months and ?? days.</p>
  </div>
  <div class="jobFairInfo info">
    <p>DevMountain hosts a job fair every ?? months where recruiter from around Provo, Utah come to hire.</p>
  </div>
  <div class="line connectingLine1"></div>
  <div class="line connectingLine2"></div>
  <div class="line connectingLine3"></div>
  <div class="line connectingLine4"></div>
  <div class="animationBoxBlue"></div>
  <div class="animationBoxWhite"></div>
</div>
<div class="upDown">
  <div transition-out-multiple ng-click="switchUp()" class="arrowContainer">
    <i class="arrow upIcon"></i>
  </div>
  <div transition-out-multiple ng-click="switchDown()" class="arrowContainer">
    <i class="arrow downIcon"></i>
  </div>
</div>
