<div transition-in-multiple scroll-up scroll-down carousel class="learnContainer container">
  <div class="learnSlides day1">
    <div class="slideSection infoSlideSection">
      <p class="fadeIn">Welcome!<br>Its your first day!</p>
    </div>
    <div class="slideSection">
      <img src="frontend/images/random2.jpg" alt="random picture">
    </div>
    <div class="slideSection infoSlideSection">
      <p class="fadeIn">Meet classmates, mentors, and instructors</p>
    </div>
    <div class="slideSection">
      <img src="frontend/images/random4.jpg" alt="random picture">
    </div>
    <div class="slideSection">
      <h2 class="fadeUpDown">Day 1</h2>
      <h1 class="appear">Orientation</h1>
    </div>
    <div class="slideSection">
      <img src="frontend/images/random5.jpg" alt="random picture">
    </div>
    <div class="slideSection infoSlideSection">
      <p class="fadeIn">Get Wifi password to us Google Fiber!</p>
    </div>
    <div class="slideSection">
      <img src="frontend/images/random7.jpg" alt="random picture">
    </div>
    <div class="slideSection infoSlideSection">
      <p class="fadeIn">Learn how to get the best out of this course</p>
    </div>
  </div>
  <div class="learnSlides week1">
    <div class="slideSection">
      <img src="frontend/images/random.jpg" alt="random picture">
    </div>
    <div class="slideSection infoSlideSection">
      <p>Learn HTML(hyper-text-markup-language) to structure webpages</p>
    </div>
    <div class="slideSection">
      <img src="frontend/images/random3.jpg" alt="random picture">
    </div>
    <div class="slideSection infoSlideSection">
      <p>Learn CSS(cascading-style-sheets) to style webpages</p>
    </div>
    <div class="slideSection">
      <h2>Week 1</h2>
      <h1>Html/Css</h1>
    </div>
    <div class="slideSection infoSlideSection">
      <p>Learn how to make webpages resposive</p>
    </div>
    <div class="slideSection">
      <img src="frontend/images/random6.jpg" alt="random picture">
    </div>
    <div class="slideSection infoSlideSection">
      <p>Learn to use dev tools to make coding easier</p>
    </div>
    <div class="slideSection">
      <img src="frontend/images/random8.jpg" alt="random picture">
    </div>
  </div>

  <div class="learnSlides week2">
    <div class="slideSection">
      <img src="frontend/images/random.jpg" alt="random picture">
    </div>
    <div class="slideSection infoSlideSection">
      <p>Learn Javascript to add logic to a webpage</p>
    </div>
    <div class="slideSection">
      <img src="frontend/images/random3.jpg" alt="random picture">
    </div>
    <div class="slideSection">
      <img src="frontend/images/random4.jpg" alt="random picture">
    </div>
    <div class="slideSection">
      <h2>Week 2</h2>
      <h1>Javascript</h1>
    </div>
    <div class="slideSection">
      <img src="frontend/images/random5.jpg" alt="random picture">
    </div>
    <div class="slideSection infoSlideSection">
      <p>Javascript will help you solve complex algoriths</p>
    </div>
    <div class="slideSection infoSlideSection">
      <p>Learn jQuery to add motion to webpages</p>
    </div>
    <div class="slideSection infoSlideSection">
      <p>jQuery will help you make webpages flashy</p>
    </div>
  </div>

  <div class="learnSlides week34">
    <div class="slideSection infoSlideSection">
      <p>Learn Angular to make webpages dynamic and fast to develop</p>
    </div>
    <div class="slideSection infoSlideSection">
      <p>Angular will help add more functionality to your HTML pages</p>
    </div>
    <div class="slideSection infoSlideSection">
      <p>Learn how to make SPA(single-page-application) with Angular</p>
    </div>
    <div class="slideSection infoSlideSection">
      <p>SPA's will make webpages optimize content that needs to be loaded</p>
    </div>
    <div class="slideSection">
      <h2>Week 3-4</h2>
      <h1>Angular</h1>
    </div>
    <div class="slideSection">
      <img src="frontend/images/random5.jpg" alt="random picture">
    </div>
    <div class="slideSection">
      <img src="frontend/images/random6.jpg" alt="random picture">
    </div>
    <div class="slideSection">
      <img src="frontend/images/random7.jpg" alt="random picture">
    </div>
    <div class="slideSection">
      <img src="frontend/images/random8.jpg" alt="random picture">
    </div>
  </div>

  <div class="learnSlides week5">
    <div class="slideSection">
      <img src="frontend/images/random.jpg" alt="random picture">
    </div>
    <div class="slideSection">
      <img src="frontend/images/random2.jpg" alt="random picture">
    </div>
    <div class="slideSection infoSlideSection">
      <p>Learn Node to apply the server side</p>
    </div>
    <div class="slideSection infoSlideSection">
      <p>Node will make your webpage a server</p>
    </div>
    <div class="slideSection">
      <h2>Week 5</h2>
      <h1>Node</h1>
    </div>
    <div class="slideSection infoSlideSection">
      <p>Node will help you send and recieve HTTP requests</p>
    </div>
    <div class="slideSection">
      <img src="frontend/images/random6.jpg" alt="random picture">
    </div>
    <div class="slideSection">
      <img src="frontend/images/random7.jpg" alt="random picture">
    </div>
    <div class="slideSection infoSlideSection">
      <p>Learn how to use CORS and add security to your server</p>
    </div>
  </div>

  <div class="learnSlides week6">
    <div class="slideSection infoSlideSection">
      <p>Learn SQL(structured-query-language) to store and retrieve data in a database</p>
    </div>
    <div class="slideSection infoSlideSection">
      <p>SQL will help you store user information</p>
    </div>
    <div class="slideSection infoSlideSection">
      <p>Use data to authenticate users</p>
    </div>
    <div class="slideSection">
      <img src="frontend/images/random4.jpg" alt="random picture">
    </div>
    <div class="slideSection">
      <h2>Week 6</h2>
      <h1>Sql</h1>
    </div>
    <div class="slideSection">
      <img src="frontend/images/random5.jpg" alt="random picture">
    </div>
    <div class="slideSection">
      <img src="frontend/images/random6.jpg" alt="random picture">
    </div>
    <div class="slideSection infoSlideSection">
      <p>Learn how to write queries to access only the data you need</p>
    </div>
    <div class="slideSection">
      <img src="frontend/images/random8.jpg" alt="random picture">
    </div>
  </div>

  <div class="learnSlides week7">
    <div class="slideSection infoSlideSection">
      <p>Take a break from coding</p>
    </div>
    <div class="slideSection">
      <img src="frontend/images/random2.jpg" alt="random picture">
    </div>
    <div class="slideSection infoSlideSection">
      <p>Use this time to relax</p>
    </div>
    <div class="slideSection">
      <img src="frontend/images/random4.jpg" alt="random picture">
    </div>
    <div class="slideSection">
      <h2>Week 7</h2>
      <h1>Interim Week</h1>
    </div>
    <div class="slideSection">
      <img src="frontend/images/random5.jpg" alt="random picture">
    </div>
    <div class="slideSection infoSlideSection">
      <p>Use this time to catch up</p>
    </div>
    <div class="slideSection">
      <img src="frontend/images/random7.jpg" alt="random picture">
    </div>
    <div class="slideSection infoSlideSection">
      <p>Or use this time to get ahead</p>
    </div>
  </div>

  <div class="learnSlides week89">
    <div class="slideSection infoSlideSection">
      <p>Start using everything you've learned</p>
    </div>
    <div class="slideSection">
      <img src="frontend/images/random2.jpg" alt="random picture">
    </div>
    <div class="slideSection">
      <img src="frontend/images/random3.jpg" alt="random picture">
    </div>
    <div class="slideSection infoSlideSection">
      <p>Build a project of you choice</p>
    </div>
    <div class="slideSection">
      <h2>Week 8-9</h2>
      <h1>Personal Project</h1>
    </div>
    <div class="slideSection infoSlideSection">
      <p>This will help you instill the skills you have learned so far</p>
    </div>
    <div class="slideSection infoSlideSection">
      <p>This will help build up a portfolio you can show to employers</p>
    </div>
    <div class="slideSection">
      <img src="frontend/images/random7.jpg" alt="random picture">
    </div>
    <div class="slideSection">
      <img src="frontend/images/random8.jpg" alt="random picture">
    </div>
  </div>

  <div class="learnSlides week10">
    <div class="slideSection">
      <img src="frontend/images/random.jpg" alt="random picture">
    </div>
    <div class="slideSection">
      <img src="frontend/images/random2.jpg" alt="random picture">
    </div>
    <div class="slideSection">
      <img src="frontend/images/random3.jpg" alt="random picture">
    </div>
    <div class="slideSection">
      <img src="frontend/images/random4.jpg" alt="random picture">
    </div>
    <div class="slideSection">
      <h2>Week 10</h2>
      <h1>React</h1>
    </div>
    <div class="slideSection infoSlideSection">
      <p>Learn ReactJS to use a component based framework</p>
    </div>
    <div class="slideSection infoSlideSection">
      <p>This will help you expand you skills list</p>
    </div>
    <div class="slideSection infoSlideSection">
      <p>Learn a new and popular language</p>
    </div>
    <div class="slideSection infoSlideSection">
      <p>Learn this to expand your job opportunities</p>
    </div>
  </div>

  <div class="learnSlides week1112">
    <div class="slideSection">
      <img src="frontend/images/random.jpg" alt="random picture">
    </div>
    <div class="slideSection infoSlideSection">
      <p>Build a project with a team of classmates</p>
    </div>
    <div class="slideSection">
      <img src="frontend/images/random3.jpg" alt="random picture">
    </div>
    <div class="slideSection infoSlideSection">
      <p>Learn how to work in a team</p>
    </div>
    <div class="slideSection">
      <h2>Week 11-12</h2>
      <h1>Group Project</h1>
    </div>
    <div class="slideSection infoSlideSection">
      <p>Experience what the the workforce will be like</p>
    </div>
    <div class="slideSection">
      <img src="frontend/images/random6.jpg" alt="random picture">
    </div>
    <div class="slideSection infoSlideSection">
      <p>Grow your porfolio while showing you have team skills to employers</p>
    </div>
    <div class="slideSection">
      <img src="frontend/images/random8.jpg" alt="random picture">
    </div>
  </div>

  <div class="learnSlides week13">
    <div class="slideSection">
      <img src="frontend/images/random.jpg" alt="random picture">
    </div>
    <div class="slideSection">
      <img src="frontend/images/random2.jpg" alt="random picture">
    </div>
    <div class="slideSection">
      <img src="frontend/images/random3.jpg" alt="random picture">
    </div>
    <div class="slideSection">
      <img src="frontend/images/random4.jpg" alt="random picture">
    </div>
    <div class="slideSection">
      <h2>Week 13</h2>
      <h1>Job Preparation</h1>
    </div>
    <div class="slideSection">
      <img src="frontend/images/random5.jpg" alt="random picture">
    </div>
    <div class="slideSection">
      <img src="frontend/images/random6.jpg" alt="random picture">
    </div>
    <div class="slideSection">
      <img src="frontend/images/random7.jpg" alt="random picture">
    </div>
    <div class="slideSection">
      <img src="frontend/images/random8.jpg" alt="random picture">
    </div>
  </div>

  <a class="nextSlide"></a>
  <a class="prevSlide"></a>
  <div class="animationBoxBlue"></div>
  <div class="animationBoxWhite"></div>
</div>
<div class="upDown">
  <div transition-out-multiple ng-click="switchUp()" class="arrowContainer">
    <i class="arrow upIcon"></i>
  </div>
  <div transition-out-multiple ng-click="switchDown()" class="arrowContainer">
    <i class="arrow downIcon"></i>
  </div>
</div>
