<div transition-in-multiple showSlides class="learnContainer">
  <div class="learnSlides day1">
    <div class="learnSlideTitle">
      <h2>Day 1</h2>
      <h1>Orientation</h1>
    </div>
  </div>

  <div class="learnSlides week1">
    <div class="learnSlideTitle">
      <h2>Week 1</h2>
      <h1>Html/Css</h1>
    </div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/10/CSS3_and_HTML5_logos_and_wordmarks.svg/2000px-CSS3_and_HTML5_logos_and_wordmarks.svg.png" alt="">
  </div>

  <div class="learnSlides week2">
    <div class="learnSlideTitle">
      <h2>Week 2</h2>
      <h1>Javascript</h1>
    </div>
  </div>

  <div class="learnSlides week34">
    <div class="learnSlideTitle">
      <h2>Week 3-4</h2>
      <h1>Angular</h1>
    </div>
  </div>

  <div class="learnSlides week5">
    <div class="learnSlideTitle">
      <h2>Week 5</h2>
      <h1>Node</h1>
    </div>
  </div>
  <div class="learnSlides week6">
    <div class="learnSlideTitle">
      <h2>Week 6</h2>
      <h1>Sql</h1>
    </div>
  </div>
  <div class="learnSlides week7">
    <div class="learnSlideTitle">
      <h2>Week 7</h2>
      <h1>Interim Week</h1>
    </div>
  </div>
  <div class="learnSlides week89">
    <div class="learnSlideTitle">
      <h2>Week 8-9</h2>
      <h1>Personal Project</h1>
    </div>
  </div>
  <div class="learnSlides week10">
    <div class="learnSlideTitle">
      <h2>Week 10</h2>
      <h1>React</h1>
    </div>
  </div>
  <div class="learnSlides week1112">
    <div class="learnSlideTitle">
      <h2>Week 11-12</h2>
      <h1>Group Project</h1>
    </div>
  </div>
  <div class="learnSlides week13">
    <div class="learnSlideTitle">
      <h2>Week 13</h2>
      <h1>Job Preparation</h1>
    </div>
  </div>

  <a class="nextSlide" ng-click="nextSlide()"></a>
  <a class="prevSlide" ng-click="prevSlide()"></a>
  <div class="animationBoxBlue"></div>
  <div class="animationBoxWhite"></div>
</div>
<div class="upDown">
  <div transition-out-multiple ng-click="switchHousing()" class="arrowContainer">
    <i class="arrow upIcon"></i>
  </div>
  <div transition-out-multiple ng-click="switchJobSearch()" class="arrowContainer">
    <i class="arrow downIcon"></i>
  </div>
</div>
