<div transition-in-multiple class="choiceContainer">
  <div class="dallasChoice">
    <div transition-out-multiple class="dallasChoiceContent">
      <p>Dallas, Texas</p>
    </div>
    <div class="animationBoxBlue"></div>
    <div class="animationBoxWhite"></div>
  </div>
  <div ng-click="switchProvo()" class="provoChoice">
    <div transition-out-multiple class="provoChoiceContent">
      <p>Provo, Utah</p>
    </div>
    <div class="animationBoxBlue">

    </div>
    <div class="animationBoxWhite">

    </div>
  </div>
  <div class="slcChoice">
    <div transition-out-multiple class="slcChoiceContent">
      <p>Salt Lake City, Utah</p>
    </div>
    <div class="animationBoxBlue">

    </div>
    <div class="animationBoxWhite">

    </div>
  </div>
</div>
<div class="upDown">
  <div class="arrowContainer">
    <i transition-out-multiple ng-click="switchHome()" class="arrow upIcon"></i>
  </div>
  <div class="arrowContainer">
    <i class="arrow downIcon"></i>
  </div>
</div>
