<div class="choiceContainer">
  <div class="dallasChoice">
    <div transition-out class="dallasChoiceContent">
      <p>Dallas, TX</p>
    </div>
    <div class="animationBoxBlue">

    </div>
    <div class="animationBoxWhite">

    </div>
  </div>
  <div class="provoChoice">
    <div transition-out class="provoChoiceContent">
      <p>Provo, UT</p>
    </div>
    <div class="animationBoxBlue">

    </div>
    <div class="animationBoxWhite">

    </div>
  </div>
  <div class="slcChoice">
    <div transition-out class="slcChoiceContent">
      <p>Salt Lake City, UT</p>
    </div>
    <div class="animationBoxBlue">

    </div>
    <div class="animationBoxWhite">

    </div>
  </div>
</div>
