<div transition-in-multiple scroll-up class="choiceContainer container">
  <div class="dallasChoice">
    <div transition-out-multiple class="dallasChoiceContent">
      <div class="choiceText">
        <h1 class="appear">Dallas,Texas</h1>
        <h2 class="primaryFont fadeUpDown">Distance: {{dallasDistance}}</h2>
        <h2 class="primaryFont fadeUpDown">Drive Time: {{dallasTime}}</h2>
      </div>
    </div>
    <div class="animationBoxBlue"></div>
    <div class="animationBoxWhite"></div>
  </div>
  <div ng-click="switchProvo()" class="provoChoice">
    <div transition-out-multiple class="provoChoiceContent">
      <div class="choiceText">
        <h1 class="appear">Provo,Utah</h1>
        <h2 class="primaryFont fadeUpDown">Distance: {{provoDistance}}</h2>
        <h2 class="primaryFont fadeUpDown">Drive Time: {{provoTime}}</h2>
      </div>
    </div>
    <div class="animationBoxBlue"></div>
    <div class="animationBoxWhite"></div>
  </div>
  <div class="slcChoice">
    <div transition-out-multiple class="slcChoiceContent">
      <div class="choiceText">
        <h1 class="appear">SaltLakeCity,Utah</h1>
        <h2 class="primaryFont fadeUpDown">Distance: {{saltLakeCityDistance}}</h2>
        <h2 class="primaryFont fadeUpDown">Drive Time: {{saltLakeCityTime}}</h2>
      </div>
    </div>
    <div class="animationBoxBlue"></div>
    <div class="animationBoxWhite"></div>
  </div>
</div>
<div class="upDown">
  <div class="arrowContainer">
    <i transition-out-multiple ng-click="switchUp()" class="arrow upIcon"></i>
  </div>
  <div class="arrowContainer">
    <i class="arrow downIcon"></i>
  </div>
</div>
