<div transition-in-multiple class="provoHousingContainer">
  <div class="housingTopHalf">
    <div class="housingVideo">
      <video playsinline autoplay muted loop>
        <source src="https://d1235ca2z646oc.cloudfront.net/videos/processed/4726/BnW.mp4-mobile.mp4" type="video/mp4">
      </video>
      <div class="animationBoxBlue"></div>
      <div class="animationBoxWhite"></div>
    </div>
    <div class="housingTitle">
      <h2>Free</h2>
      <h1>Housing</h1>
      <div class="animationBoxBlue"></div>
      <div class="animationBoxWhite"></div>
    </div>
  </div>
  <div class="housingBottomHalf">
    <div class="housingImage">
      <img src="https://hips.hearstapps.com/edc.h-cdn.co/assets/16/09/blackandwhite-10.jpeg" alt="Housing Image">
      <div class="animationBoxBlue"></div>
      <div class="animationBoxWhite"></div>
    </div>
    <div class="housingImage">
      <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQJ5PqG8jQDa7ZLSgnunspwGU184wLYowJgKnkgYXQw2uNHOJtyqg" alt="Housing Image">
      <div class="animationBoxBlue"></div>
      <div class="animationBoxWhite"></div>
    </div>
    <div class="housingImage">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQe6A_D4SQOBRDrOvayMQlNx3jsfvi5teiwUHNiBGMaHKjC9Jkxg" alt="Housing Image">
      <div class="animationBoxBlue"></div>
      <div class="animationBoxWhite"></div>
    </div>
    <div class="housingImage">
      <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcStkjbZrrZnmQt3gDv1U88fJEqhOjd12JglNy2MqBem9IQdHGJY" alt="Housing Image">
      <div class="animationBoxBlue"></div>
      <div class="animationBoxWhite"></div>
    </div>
  </div>
</div>
<div class="upDown">
  <div transition-out-multiple ng-click="switchWelcome()" class="arrowContainer">
    <i class="arrow upIcon"></i>
  </div>
  <div transition-out-multiple ng-click="switchLearn()" class="arrowContainer">
    <i class="arrow downIcon"></i>
  </div>
</div>
