<div transition-in-multiple scroll-up scroll-down class="provoHousingContainer container">
  <div class="housingTopHalf">
    <div class="housingVideo">
      <video playsinline autoplay muted loop>
        <source src="https://d1235ca2z646oc.cloudfront.net/videos/processed/4726/BnW.mp4-mobile.mp4" type="video/mp4">
      </video>
      <div class="animationBoxBlue"></div>
      <div class="animationBoxWhite"></div>
    </div>
    <div class="housingTitle">
      <h2 class="fadeUpDown">Free</h2>
      <h1 class="appear">Housing</h1>
      <div class="animationBoxBlue"></div>
      <div class="animationBoxWhite"></div>
    </div>
  </div>
  <div class="housingBottomHalf">
    <div class="housingImage">
      <img src="frontend/images/housing1.jpg" alt="Housing Image">
      <div class="animationBoxBlue"></div>
      <div class="animationBoxWhite"></div>
    </div>
    <div class="housingImage">
      <img src="frontend/images/housing2.jpg" alt="Housing Image">
      <div class="animationBoxBlue"></div>
      <div class="animationBoxWhite"></div>
    </div>
    <div class="housingImage">
      <img src="frontend/images/housing3.jpg" alt="Housing Image">
      <div class="animationBoxBlue"></div>
      <div class="animationBoxWhite"></div>
    </div>
    <div class="housingImage">
      <img src="frontend/images/housing4.jpg" alt="Housing Image">
      <div class="animationBoxBlue"></div>
      <div class="animationBoxWhite"></div>
    </div>
  </div>
</div>
<div class="upDown">
  <div transition-out-multiple ng-click="switchUp()" class="arrowContainer">
    <i class="arrow upIcon"></i>
  </div>
  <div transition-out-multiple ng-click="switchDown()" class="arrowContainer">
    <i class="arrow downIcon"></i>
  </div>
</div>
