<div transition-in-multiple scroll-up scroll-down class="welcomeToProvoContainer container">
  <div class="provoTitle">
    <h2>WELCOME TO</h2>
    <h1>DevMountain</h1>
    <h4>IN</h4>
    <h3>Provo, Utah</h1>
  </div>
  <div class="welcomeToProvoStats">
    <p>Average Class Size: 25 Students</p>
    <p>Student to Mentor Ratio: </p>
    <p>Precipitation: 19.75 in per year</p>
  </div>
  <div class="animationBoxBlue"></div>
  <div class="animationBoxWhite"></div>
</div>
<div class="upDown">
  <div transition-out-multiple ng-click="switchUp()" class="arrowContainer">
    <i class="arrow upIcon"></i>
  </div>
  <div transition-out-multiple ng-click="switchDown()" class="arrowContainer">
    <i class="arrow downIcon"></i>
  </div>
</div>
