<div transition-in-multiple class="welcomeToProvoContainer">
  <div class="provoTitle">
    <h2>WELCOME TO</h2>
    <h1>Provo, Utah</h1>
  </div>
  <div class="welcomeToProvoStats">
    <p>Population: 114,801</p>
    <p>Mean Temperature: 53.3 F</p>
    <p>Precipitation: 19.75 in per year</p>
  </div>
  <div class="animationBoxBlue">

  </div>
  <div class="animationBoxWhite">

  </div>
</div>
<div class="upDown">
  <div transition-out-multiple class="arrowContainer">
    <i class="arrow upIcon"></i>
  </div>
  <div transition-out-multiple class="arrowContainer">
    <i class="arrow downIcon"></i>
  </div>
</div>
