<div transition-in-multiple scroll-up scroll-down class="welcomeToProvoContainer container">
  <div class="provoTitle">
    <h2 class="fadeUpDown">WELCOME TO</h2>
    <h1 class="appear">DevMountain</h1>
    <h4 class="fadeUpDown">IN</h4>
    <h3 class="appear">Provo,Utah</h3>
  </div>
  <div class="welcomeToProvoStats">
    <p class="fadeIn">Average Class Size: 25 Students</p>
    <p class="fadeIn">Student to Mentor Ratio: 1:5</p>
    <p class="fadeIn">Soda Machine: true</p>
  </div>
  <div class="animationBoxBlue"></div>
  <div class="animationBoxWhite"></div>
</div>
<div class="upDown">
  <div transition-out-multiple ng-click="switchUp()" class="arrowContainer">
    <i class="arrow upIcon"></i>
  </div>
  <div transition-out-multiple ng-click="switchDown()" class="arrowContainer">
    <i class="arrow downIcon"></i>
  </div>
</div>
